body{
    padding-top: 4rem;
    font-family: "Open Sans", sans-serif;
}
.navbar{
    height: 4rem;
    /* background-color: green; */
    display:flex;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
}
.first-section{
    padding-left:2rem;
    display:flex;
    /* background-color: blueviolet; */
    flex:1;
    align-items: center;
}
.second-section{
    padding-left: 2rem;
    padding-right: 2rem;
    display:flex;
    flex-direction: row;
    /* background-color: brown; */
    justify-content:end;
    align-items: center;
    flex:2;
}
.content-row{
    /* background-color: green; */
    display:flex;
    flex-direction: row;
}
.left-box{
    flex: 1;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-box{
    display:flex;
    flex-direction: column;
    flex: 1;
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
}
.pic-box{
    height: auto;
    width:40rem;
    background-color: white;
    border-radius: 1rem;
    border: black 10px ;
    margin-top: 3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.project-image{
    height:100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: fill;
}
.navbar-links{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-left:2rem;
    margin-right:2rem;
}
.small-pic{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.small-pic-div{
    height: 6rem;
    width: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.about-pic-div{
    height: 6rem;
    width: 6rem;
    margin-top:3rem;
}
.contact-div{
    /* background-color: blanchedalmond; */
    height: 16rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.logo-pic{
    height:2rem;
    width: 8rem;
}


@media screen and (max-width:600px) {
   .content-row{
    flex-direction: column;
   }
   .navbar{
    width:fit-content;
   }
   .second-section{
    margin-left: 15vw;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 75vw;
   }
   .pic-box{
    height: 100vw;
    width: 90vw;
   }
   .logo-pic{
    display:none;
   }
}